<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_anit">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
